body {
/*    background-color: rgba(0,0,0,0.0);    */
}

.comment {
    position: absolute;
    left: 800px;
    white-space: nowrap;
    text-shadow:
	0 3px 0 #000,
        3px 0 0 #000,
        0 -3px 0 #000,
        -3px 0 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000
    ;
    font-family: "ＭＳ ゴシック",sans-serif; 
}
